/* colors.css

 Greys
 --------------------------
 Very Dark          #2F2F2F
 Dark               #3C3C3C
 Regular            #828282
 Light              #999
 Very light         #CCC

 Others
 --------------------------
 blue               #09C
 yellow             #bfbf00
 white              #FFF

*/

* ::-webkit-scrollbar                          {width:10px; height:10px; margin:3px; background:transparent none !important;}
* ::-webkit-scrollbar-button:start:decrement, 
* ::-webkit-scrollbar-button:end:increment     {display:block; height:2px; background-color:transparent;}
* ::-webkit-scrollbar-track-piece              {-webkit-border-radius:8px; -webkit-border-bottom-right-radius:8px; -webkit-border-bottom-left-radius:8px; border-radius:8px;}
* ::-webkit-scrollbar-track-piece:hover        {}
* ::-webkit-scrollbar-corner       			   {background:transparent none;}	

* ::-webkit-scrollbar-thumb:vertical           {height:50px;}
* ::-webkit-scrollbar-thumb:horizontal         {width:50px;}

* ::-webkit-scrollbar-thumb:vertical,
* ::-webkit-scrollbar-thumb:horizontal         {background-color:rgba(0,0,0,0.35); -webkit-border-radius:4px; width:6px;}
* ::-webkit-scrollbar-thumb:vertical:hover,    
* ::-webkit-scrollbar-thumb:horizontal:hover   {background-color:rgba(0,0,0,0.45);}
* ::-webkit-scrollbar-thumb:vertical:active,    
* ::-webkit-scrollbar-thumb:horizontal:active   {background-color:rgba(0,0,0,0.8);}



html	 	{background: #303030  url('../img/bg-grey-paper.jpg') fixed;}
body 		{padding-bottom:140px !important; background:none transparent;}

	
strong {
	color: #000;
	font-weight:bold;
}

#wrapper {
	_background: url(../img/bg-linen-texture.jpg) 0 0 repeat-x;
	color: #999;
}

#header a:link,
#header a:visited {
	color: #bfbf00;
}

#header a:hover,
#header a:active,
#header a:focus {
	color: #bfbf00;
	border-bottom:dotted 1px #bfbf00;
}

.back:link,
.back:visited {
	color: #bfbf00;
}

.back:hover,
.back:active,
.back:focus {
	color: #FFF;
}

/*
.post {
	background:rgba(0, 0, 0, 0.31);
	border:solid 1px black;
	-moz-border-radius: 4px; -webkit-border-radius:4px; border-radius: 4px;
	-webkit-box-shadow: rgba(0,0,0,0.3) 1px 1px 8px; -moz-box-shadow: rgba(0,0,0,0.3) 1px 1px 8px;
}
*/

/*
#main-content 		{margin-top:-10px; color:#222; background: url('../img/h_bgPaper.png'); border: solid 1px #101010; border-radius: 0 0 4px 4px; -webkit-box-shadow: 4px 4px 22px 1px rgba(0, 0, 0, 0.6); -moz-box-shadow: 4px 4px 22px 1px rgba(0,0,0,0.6); box-shadow: 24px 24px 222px 20px rgba(0, 0, 0, 0.6); margin: 30px 0 40px; border-radius: 6px; border:solid 1px white;} 
*/
#main-content 		{margin-top:-10px; color:#222; margin: 30px 0 40px;} 

.post_OLD			{margin-top:-10px; color:#222; background: url('../img/h_bgPaper.png'); border: solid 1px #101010; border-radius: 0 0 4px 4px; -webkit-box-shadow: 4px 4px 22px 1px rgba(0, 0, 0, 0.6); -moz-box-shadow: 4px 4px 22px 1px rgba(0,0,0,0.6); box-shadow: 24px 24px 222px 20px rgba(0, 0, 0, 0.6); margin: 50px 0 40px; border-radius: 6px; border:solid 6px white;} 
.post img			{border: solid 8px white; box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);}
.post .entry a:link	{color: #000 !important; text-shadow:1px 1px whit; font-family : "Gesta-Bold";}
.entry a:visited, 
.comment a:visited 	{color: #999 !important; border-bottom: dotted 1px #505050 !important;}





.post h2,
.post h3,
.post h4,
.post h5,
#search h2,
.emptysearch,
.error {
	color: #888;
}

.post h2 {
	font-size: 24px;
	color: #BFBF00;
	text-shadow: 1px 1px white;	
}

.post h2 a:link,
.post h2 a:visited {
	font-size: 24px;
	color: #303030;
}

.post h2 a:hover,
.post h2 a:active,
.post h2 a:focus {
	color: #bfbf00;
	_border-bottom:dotted 1px #564700;
}

.post blockquote {
	background: #FFD040;
	border: solid 1px #F0C030;
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
	background: rgba(255, 180, 0, 0.64);
	border-radius: 2px;
	font-style: italic;
}

.date {
	color: #828282;
	text-transform: lowercase;
}

.comment_OLD {
	color: #999;
	-moz-border-radius: 4px; -webkit-border-radius:4px; border-radius: 4px;
	-webkit-box-shadow: rgba(0,0,0,0.3) 1px 1px 8px; 
	-moz-box-shadow: rgba(0,0,0,0.3) 1px 1px 8px;
}
.comment {
	color: #bbb;
}

.entry a:link {
  color:white !important;
  text-decoration:none;
  border-bottom:dotted 1px #505050 !important;
}

.comment a:link {
	color: white;
	border-bottom:dotted 1px #505050 !important;
}

.cite a {
	color: white;
	border-bottom:dotted 1px #505050 !important;
}

.entry a:visited,
.comment a:visited {
	color: white;
	border-bottom:dotted 1px #505050 !important;
}

.entry a:hover,
.entry a:active,
.entry a:focus,
.comment a:hover,
.comment a:active,
.comment a:focus,
.cite a:hover,
.cite a:active,
.cite a:focus {
	color: #bfbf00 !important;
	border-bottom:dotted 1px #bfbf00 !important;
}

.post img {
	
}

.post .number-of-comments a:link,
.post .number-of-comments a:visited {
	color: #bfbf00;
}

.post .number-of-comments a:hover,
.post .number-of-comments a:active,
.post .number-of-comments a:focus {
	color: #bfbf00;
}

#comments h3,
#commentform h3 {
	color: #303030;
	text-shadow: 1px 1px white;
}

.comment_OLD {
  	background:rgba(0, 0, 0, 0.31);
	border-top: 1px solid #3C3C3C;
	border: solid 2px black;
}

#comments ol {-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 18px inset;
-moz-box-shadow: rgba(0,0,0,0.3) 0px 3px 18px inset;
box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 18px inset;}
	
.comment {
	background: rgba(0, 0, 0, 0.7);
	margin: 0 -1px;
	border-radius: 0;
	
	padding: 28px 74px 14px 74px;
	border-bottom: solid 1px #303030;
	border-top: solid 1px #505050;
	font-style: italic;
}

.highlighted {
	color: white;
	background: rgba(0, 0, 0, 0.7) url('../img/MrZ-small.png') no-repeat -29px 18px;
	padding-left:72px;
	/*
	background:rgba(0, 0, 0, 0.31);
	border-top: 1px solid #000000;
	margin-bottom: 4px;
	-moz-border-radius: 4px; -webkit-border-radius:4px; border-radius: 4px;
	-webkit-box-shadow: rgba(0,0,0,0.4) 3px 3px 8px; -moz-box-shadow: rgba(0,0,0,0.4) 3px 3px 8px; box-shadow: rgba(0,0,0,0.4) 3px 3px 8px;
	*/
}

.highlighted cite {color: #BFBF00 !important;} 
.highlighted strong {color: white !important;} 


.highlighted a:link,
.highlighted a:visited {
		color: #bfbf00;	
}

.highlighted a:hover {
		color: #bfbf00;
		border-bottom:dotted 1px #bfbf00;	
}

.comment cite {
	color: #FFF;
}

.comment .moderation {
	color: #FFF;
}

#commentform {
	border: none 2px black;
	margin: 0;
	padding-top: 30px;
	padding: 30px 20px;
	background: url('../img/h_bgPaper.png');
	-webkit-box-shadow: 4px 4px 22px 1px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 4px 4px 22px 1px rgba(0,0,0,0.6);
	box-shadow: 24px 24px 222px 20px rgba(0, 0, 0, 0.6);
	margin-bottom: 40px;
	border: solid 1px white;
	border-radius: 0 0 6px 6px;
	border-top:none;
}

#commentform .comment-container {
  padding-right:18px;
}

#commentform input {
	border: solid 2px #CCC;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

#commentform textarea {
	width:100% !important;
	border: solid 2px #ccc;
	-moz-border-radius: 4px; -webkit-border-radius:4px; border-radius: 4px;
}

#commentform a:link,
#commentform a:visited {
	color: #bfbf00;
}

#commentform a:hover,
#commentform a:active,
#commentform a:focus {
	color: #333;
}

.pagination {
	color: #bfbf00;
}
.pagination a:link,
.pagination a:visited {
	color: #bfbf00;
}

.pagination a:hover,
.pagination a:active,
.pagination a:focus {
	color: #FFF;
}

#sidebar {
	color: #828282;
}

#sidebar a:link,
#sidebar a:visited {
	color: #C4C4C4;
}

#sidebar a:hover,
#sidebar a:active,
#sidebar a:focus {
	color: #bfbf00;
}

#sidebar #sb-2 a:link,
#sidebar #sb-2 a:visited {
	color: #C4C4C4;
}

#sidebar #sb-2 a:hover,
#sidebar #sb-2 a:active,
#sidebar #sb-2 a:focus {
	color: #bfbf00;
}


/*
#footer {
	border-top: 1px solid #3C3C3C;
	color: #828282;
	height: 36px;
  background:url('../img/bgFooter.jpg') #333333 repeat-x center top;
	color:#748080;
	line-height:36px;
	padding:0;
}                 
          
#footer a:link,
#footer a:visited {
	color: #CCC;
}

#footer a:hover,
#footer a:active,
#footer a:focus {
	color: #FFF;
} 
*/
