/* colors.css

 Greys
 --------------------------
 Very Dark          #2F2F2F
 Dark               #3C3C3C
 Regular            #828282
 Light              #999
 Very light         #CCC

 Others
 --------------------------
 blue               #09C
 yellow             #bfbf00
 white              #FFF

*/

html, body {
	background: black url(../img/bg-linen-home.jpg) 0 0 repeat;
}
	
strong {
	color: #CCC;
}

#wrapper {
	_background: url(../img/bg-linen-texture.jpg) 0 0 repeat-x;
	color: #999;
}

#header a:link,
#header a:visited {
	color: #bfbf00;
}

#header a:hover,
#header a:active,
#header a:focus {
	color: #bfbf00;
	border-bottom:dotted 1px #bfbf00;
}

.back:link,
.back:visited {
	color: #bfbf00;
}

.back:hover,
.back:active,
.back:focus {
	color: #FFF;
}

.post {
	background:rgba(0, 0, 0, 0.31);
	border:solid 1px black;
	-moz-border-radius: 4px; -webkit-border-radius:4px; border-radius: 4px;
	-webkit-box-shadow: rgba(0,0,0,0.3) 1px 1px 8px; -moz-box-shadow: rgba(0,0,0,0.3) 1px 1px 8px;
}

.post h2,
.post h3,
.post h4,
.post h5,
#search h2,
.emptysearch,
.error {
	color: #CCC;
}

.post h2 a:link,
.post h2 a:visited {
	color: #CCC;
}

.post h2 a:hover,
.post h2 a:active,
.post h2 a:focus {
	color: #bfbf00;
}

.post blockquote {
	background: #2F2F2F;
}

.date {
	color: #828282;
	text-transform: lowercase;
}

.entry a:link,
.comment {
	color: #CCC;
/*  background:rgba(0, 0, 0, 0.31);*/
/*  border:solid 1px black;*/
	-moz-border-radius: 4px; -webkit-border-radius:4px; border-radius: 4px;
	-webkit-box-shadow: rgba(0,0,0,0.3) 1px 1px 8px; -moz-box-shadow: rgba(0,0,0,0.3) 1px 1px 8px;
}

.comment a:link {
	color: #bfbf00;
}

.entry a:visited,
.comment a:visited {
	color: #bfbf00;
}

.entry a:hover,
.entry a:active,
.entry a:focus,
.comment a:hover,
.comment a:active,
.comment a:focus {
	color: #FFF;
}

.post img {
	border: 5px solid #FFF;
}

.post .number-of-comments a:link,
.post .number-of-comments a:visited {
	color: #bfbf00;
}

.post .number-of-comments a:hover,
.post .number-of-comments a:active,
.post .number-of-comments a:focus {
	color: #bfbf00;
}

#comments h3,
#commentform h3 {
	color: #CCC;
}

.comment {
  background:rgba(0, 0, 0, 0.31);
	border-top: 1px solid #3C3C3C;
	border: solid 2px black;
}

.highlighted {
	background:rgba(0, 0, 0, 0.31);
	border-top: 1px solid #000000;
	margin-bottom: 4px;
	-moz-border-radius: 4px; -webkit-border-radius:4px; border-radius: 4px;
	-webkit-box-shadow: rgba(0,0,0,0.4) 3px 3px 8px; -moz-box-shadow: rgba(0,0,0,0.4) 3px 3px 8px; box-shadow: rgba(0,0,0,0.4) 3px 3px 8px;
}

.highlighted a:link,
.highlighted a:visited {
		color: #bfbf00;	
}

.highlighted a:hover {
		color: #bfbf00;
		border-bottom:dotted 1px #bfbf00;	
}

.comment cite {
	color: #FFF;
}

.comment .moderation {
	color: #FFF;
}

#commentform {
	background-color: rgba(0, 0, 0, 0.4);
	background: rgba(0, 0, 0, 0.0) left 12px no-repeat;
	border: none 2px black;
	margin-top:80px;
/*  text-indent:120px;*/
}

#commentform .comment-container {
  padding-right:18px;
}


#commentform textarea {
	width:100% !important;
	border: solid 2px #000000;
	-moz-border-radius: 4px; -webkit-border-radius:4px; border-radius: 4px;
	-webkit-box-shadow: rgba(0,0,0,0.8) 3px 3px 8px; -moz-box-shadow: rgba(0,0,0,0.8) 3px 3px 8px; box-shadow: rgba(0,0,0,0.8) 3px 3px 8px;
}

#commentform a:link,
#commentform a:visited {
	color: #bfbf00;
}

#commentform a:hover,
#commentform a:active,
#commentform a:focus {
	color: #ffffff;
}

.pagination {
	color: #bfbf00;
}
.pagination a:link,
.pagination a:visited {
	color: #bfbf00;
}

.pagination a:hover,
.pagination a:active,
.pagination a:focus {
	color: #FFF;
}

#sidebar {
	color: #828282;
}

#sidebar a:link,
#sidebar a:visited {
	color: #C4C4C4;
}

#sidebar a:hover,
#sidebar a:active,
#sidebar a:focus {
	color: #bfbf00;
}

#sidebar #sb-2 a:link,
#sidebar #sb-2 a:visited {
	color: #C4C4C4;
}

#sidebar #sb-2 a:hover,
#sidebar #sb-2 a:active,
#sidebar #sb-2 a:focus {
	color: #bfbf00;
}

#footer {
	border-top: 1px solid #3C3C3C;
	color: #828282;
	height: 36px;
/*  background:url('../img/bgFooter.jpg') #333333 repeat-x center top;*/
	color:#748080;
	line-height:36px;
	padding:0 6px 0 20px;
}                 

                      
#footer a:link,
#footer a:visited {
	color: #CCC;
}

#footer a:hover,
#footer a:active,
#footer a:focus {
	color: #FFF;
} 

