/* forms.css */

.input-text,
textarea {
	border: none;
	font-size: 1em;
	padding: .3em;
}

label {
	font-size: 1em;
	margin: 0 .5em;
}

#search-form label {
	position: absolute;
	top: -99999px;
}

p.input-submit {
text-align: right;
padding: 0 12px 0 0;
}

#commentform input {
	width: 43%;
}

#commentform textarea {
	font-size: 1em;
	font-family: Helvetica, Arial, sans-serif;
	width: 612px;
}

#commentform #submit-comment {
  	width: auto;
	height: 30px;
	background: #FFB034;
	border-radius: 3px;
	border: none;
	padding: 2px 16px 0px;
	font-size: 11px;
	box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.4), 1px 1px 1px rgba(255, 255, 255, 0.4) inset;
	border: solid 1px #DFA024;
	text-transform: uppercase;
	font-weight: bold;
	cursor:pointer;
}

#commentform #submit-comment:hover {
  
	background: #eFa024;

}

#search-form #submit {
	padding: 1px 13px;
	margin: 0 0 0 5px;
}