/* type.css */

* {font-family:  "Gesta-Regular", "gesta-1", "gesta-2", "Arial"; font-weight: normal;}
            
#wrapper {
/*  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;*/
	font-size: 15px;
	line-height: 145%;
}

p {
	margin: 1em 0;
}

h1 {
	font-size: 25px;
	font-weight: normal;
}

#header .description {
	font-size: 13px;
}

#header a {
	text-decoration: none;
}

a.back {
	text-decoration: underline;
}

#search h2,
.post h2,
#comments h3,
#commentform h3,
.emptysearch,
.error {
/*  font-family: Helvetica, Arial, sans-serif;*/
	font-size: 18px;
	font-weight: normal;
}

.post h2 a {
	text-decoration: none;
	line-height:24px;
}

.post h2 {
  font-size: 22px;
	line-height: 26px;
}

.post h3 {
/*  font-family: Helvetica, Arial, sans-serif;*/
	font-size: 18px;
	font-weight: normal;
	line-height: 120%;
}

.post h4 {
/*  font-family: Helvetica, Arial, sans-serif;*/
	font-size: 13px;
	font-weight: normal;
	line-height: 120%;
}

.post h5 {
/*  font-family: Helvetica, Arial, sans-serif;*/
	font-size: 13px;
	font-weight: normal;
	line-height: 120%;
}

.post blockquote cite {
	font-style: normal;
}

.date {
	font-size: 13px;
}

.post .number-of-comments a {
	text-decoration: none;
	text-transform: lowercase;
	font-size: 13px;
	border-bottom: dotted 1px #564700;
}
.post .number-of-comments a:hover {
	border-bottom: dotted 1px #bfbf00;
}

#comments {
  font-size: 14px;
}

.post-comments {padding-left:12px;}

.date {
  font-size: 12px;
}

#comments h3 {
	margin: 0 0 2em 0;	
	font-size: 18px;
}

#commentform h3 {
	margin: 0 0 -22px 0;
	font-size: 16px;
}

#commentform p {
  font-size: 13px;
  text-align: right;
  padding-right: 7px;
  margin-top: 0;
}

.comment cite {
	font-style: normal;
}

.comment cite a {
	text-decoration: none;
}

.pagination a {
	text-decoration: underline;
}

#sidebar {
  font-size: 13px;
}

#sidebar a {
	text-decoration: none;
}

#footer {
  font-size: 11px;
} 

.post-comments a{
  color: #999;
}

.comments-count {
  background: url(../img/ico-comments.png) no-repeat center 2px;
  display:inline-block;
  width:54px;
  height:45px;
  line-height:36px;
  font-size:16px;
  font-weight:bold;
  color:black !important;
  text-indent:18px;
  overflow:hidden;
  vertical-align:middle;
}

.post-comments span {
  font-size:11px;
  font-weight:normal;
  display:inline-block;
  margin-right:20px;
}

.comments-participate {
  background: url(../img/btn-add.png) no-repeat center -66px;
  display:inline-block;
  width:68px;
  height:33px;
  font-size:14px;
  color:black;
  position:relative;
  top: 5px;
  float: right;
  margin-right: 15px;
}

.comments-participate:hover {
  background: url(../img/btn-add.png) no-repeat center -99px;
}

/*#footer a {
  text-decoration: underline;
}

#footer p {
  margin: 0;
}*/